@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html {
  font-size: 16px;
}

body {
  margin: 0;

  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.banner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  height: 100vh;
  padding: 50px;

  animation: fadeIn 1s ease;

  background: #2f2f2f;
}

.banner-title {
  margin: 0;

  color: #ffc200;

  font-family: "Grand Hotel", Helvetica, Arial, sans-serif;
  font-size: 8rem;
  font-style: italic;
  line-height: 1;
}

.banner-text {
  margin: 50px 0 40px;

  color: #fff;

  font-size: 2rem;
  font-weight: bold;
}

.banner-button {
  padding: 18px 57px;

  transition: background 0.2s ease-in-out;
  text-transform: uppercase;

  color: #333333;
  border: 0;
  outline: none;
  background: #ffc200;

  font-size: 1.5rem;
}

.banner-button:hover {
  background: #ffe07f;
}

.row {
  display: flex;

  width: 500px;
}

.col {
  width: 30%;

  background: #ededed;
}
