@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

button {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.banner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  height: 100vh;

  animation: fadeIn 1s ease;

  background: #2f2f2f;
}

.banner-title {
  margin: 0;

  color: #ffc200;

  font-family: "Grand Hotel", Helvetica, Arial, sans-serif;
  font-size: 124px;
  font-weight: normal;
  font-style: italic;
  line-height: 1;
}

.banner-text {
  margin: 50px 0 40px;

  color: #fff;

  font-size: 30px;
  font-weight: bold;
}

.banner-button {
  padding: 18px 57px;

  transition: background 0.2s ease-in-out;
  text-transform: uppercase;

  color: #333333;
  border: 0;
  outline: none;
  background: #ffc200;

  font-size: 20px;
  font-weight: bold;
}

.banner-button:hover {
  background: #ffe07f;
}

@media screen and (max-width: 768px) {
  .banner-title {
    font-size: 60px;
  }

  .banner-text {
    margin: 30px 0 20px;

    font-size: 20px;
  }

  .banner-button {
    padding: 12px 30px;

    font-size: 14px;
  }
}
